streamlit==1.52.1
pandas==2.3.3
numpy==2.3.5
openai==2.9.0
json-repair==0.54.2

# Gemini – SDK הישן עדיין יכול להישאר (לא חובה אבל לא מפריע)
google-generativeai==0.8.5

# Gemini – SDK החדש עם כלי Google Search
google-genai>=1.0.0
